a{{#partial "title"}}
    <title>ICV Annotator - Initialize</title>
{{/partial}}


{{#partial "content" }}
    <div class="ant-layout">
        <div class="content-area ant-layout-content">
            <div class="ant-row">
                <div class="ant-col-24">
                    <div class="box">
                        <div class="box-content">
                            <h1>Choose your annotator-configuration</h1>
                            <form class="ant-form ant-form-horizontal"
                                  method="POST" enctype="multipart/form-data" action="/">
                                <span>TODO</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout}}