<!doctype html>
<html lang="de-DE">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="/favicon.ico"/>
    {{#block "title"}}
        <title>ICV - Annotator Demo App</title>
    {{/block}}
    <link rel="stylesheet" href="/webjars/antd/3.13.5/dist/antd.min.css">
    <link rel="stylesheet" href="/css/ant-design-pro.min.css">
    {{#block "css-includes"}}

    {{/block}}
    {{#block "js-head-includes"}}

    {{/block}}
</head>
<body>
{{#block "content"}}
    <span>This is the layout. This shouldn't be visible.</span>
{{/block}}



{{#block "js-includes"}}

{{/block}}
</body>
</html>