use Mix.Config

# make sure to replace this key
# you can use `mix phx.gen.secret` to generate a new secret
config :icv_backend, ICVBackendWeb.Endpoint,
  secret_key_base: "XixcxhFHvU1HO1v8t+ekzetjsURmjq8W0MyW2GmoeItJc0Xo6RgPOpV6VSIICUWa"
